services:
  transmission:
    image: linuxserver/transmission:4.0.6
    container_name: transmission-test
    environment:
      - PUID=1000
      - PGID=1000
      - USER=test
      - PASS=test
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    volumes:
      - "data:/downloads"

  qbittorrent:
    image: linuxserver/qbittorrent:5.0.4
    container_name: qbittorrent-test
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    volumes:
      - "qbt-data:/downloads"
      - "qbt-config:/config"
      - "./docker/qbittorrent/custom-cont-init.d:/custom-cont-init.d:ro"

  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett-test
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 9117:9117
    volumes:
      - "jackett-config:/config"

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr-test
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 9696:9696
    volumes:
      - "prowlarr-config:/config"

volumes:
  data:
  qbt-data:
  qbt-config:
  jackett-config:
  prowlarr-config:
